body {

    /* background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(247,123,108,1) 50%);*/    display: flex;
    background: #FF8271;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    margin: 5px;
    width: 70vw;
    height: 5vh;
    border-radius: 7vw;
    border-color: #ffffff;
    stroke: #ffffff;
    align-items: center;
    justify-content: center;
}

.cds {
    display: block;
    background-color: #FF8271;
    margin: 5vh;
    width: 40vw;
    text-align: center;
}

/* main {
    /* display: flex;
    align-items: center;
    justify-content: center;
} */
p {
    size: 10px;
}

h1 {
    align-items: center;
    justify-content: center;
}

button {
    size: 24px;
}

img {
    display: flex;
    margin: 0%;
    width: auto;
}

form {
    display: block;
    margin-bottom: 20vh;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 5vh;
    border-radius: 7vw;
    color: #ffffff;
    background-color: #FF8271;
}