*{
    margin: 0%;
    padding: 0%;
}

body {
    background-image: linear-gradient(right, #fff 20%, #FFB7AE 50%, #E65252);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


